[submodule ".vim/plugged/vim-plug"]
	path = .vim/plugged/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule ".vim/plugged/goyo.vim"]
	path = .vim/plugged/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule ".vim/plugged/lightline.vim"]
	path = .vim/plugged/lightline.vim
	url = git@github.com:itchiny/lightline.vim.git
[submodule ".vim/plugged/vim-latex"]
	path = .vim/plugged/vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule ".vim/plugged/tabular"]
	path = .vim/plugged/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule ".vim/plugged/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/plugged/gv.vim"]
	path = .vim/plugged/gv.vim
	url = git@github.com:junegunn/gv.vim.git
[submodule ".vim/plugged/vim-lengthmatters"]
	path = .vim/plugged/vim-lengthmatters
	url = git@github.com:whatyouhide/vim-lengthmatters.git
[submodule ".vim/plugged/webapi-vim"]
	path = .vim/plugged/webapi-vim
	url = git@github.com:mattn/webapi-vim.git
[submodule ".vim/plugged/gist-vim"]
	path = .vim/plugged/gist-vim
	url = git@github.com:mattn/gist-vim.git
[submodule ".vim/plugged/seoul256.vim"]
	path = .vim/plugged/seoul256.vim
	url = git@github.com:junegunn/seoul256.vim.git
[submodule ".vim/plugged/molokai"]
	path = .vim/plugged/molokai
	url = git@github.com:tomasr/molokai.git
[submodule ".vim/plugged/vim-markdown"]
	path = .vim/plugged/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule ".vim/plugged/onedark.vim"]
	path = .vim/plugged/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule ".vim/plugged/python-mode"]
	path = .vim/plugged/python-mode
	url = git@github.com:python-mode/python-mode.git
[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule ".vim/plugged/nerdtree-git-plugin"]
	path = .vim/plugged/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin
[submodule ".vim/plugged/vim-devicons"]
	path = .vim/plugged/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule ".vim/plugged/vim-nerdtree-syntax-highlight"]
	path = .vim/plugged/vim-nerdtree-syntax-highlight
	url = git@github.com:tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule ".vim/plugged/nerdtree-buffer-ops"]
	path = .vim/plugged/nerdtree-buffer-ops
	url = git@github.com:PhilRunninger/nerdtree-buffer-ops
[submodule ".vim/plugged/nerdtree-visual-selection"]
	path = .vim/plugged/nerdtree-visual-selection
	url = git@github.com:PhilRunninger/nerdtree-visual-selection.git
[submodule ".vim/plugged/bogster.vim"]
	path = .vim/plugged/bogster.vim
	url = git@github.com:julienbarrier/bogster.vim.git
[submodule ".vim/plugged/vim-theme-papaya"]
	path = .vim/plugged/vim-theme-papaya
	url = git@github.com:HenryNewcomer/vim-theme-papaya
[submodule ".vim/plugged/vim-zenroom2"]
	path = .vim/plugged/vim-zenroom2
	url = git@github.com:amix/vim-zenroom2
[submodule ".vim/plugged/pleasant.vim"]
	path = .vim/plugged/pleasant.vim
	url = git@github.com:RohanPoojary/pleasant.vim.git
[submodule ".vim/plugged/vim-xcode-dark-theme"]
	path = .vim/plugged/vim-xcode-dark-theme
	url = git@github.com:nickaroot/vim-xcode-dark-theme.git
[submodule ".vim/plugged/vim-commentary"]
	path = .vim/plugged/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/plugged/vim-less"]
	path = .vim/plugged/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule ".vim/plugged/vim-javascript"]
	path = .vim/plugged/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/plugged/vim-ruby"]
	path = .vim/plugged/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
